<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：绑定对应的Mapper接口全类名，实现接口与XML的关联 -->
<mapper namespace="com.atguigu.mybatis.mapper.TigerMapper">

    <!-- 1. 新增老虎：id=接口方法名，parameterType=参数类型（实体类全类名） -->
    <insert id="insertTiger" parameterType="com.atguigu.mybatis.entities.Tiger">
        INSERT INTO t_tiger (tiger_name, tiger_age, tiger_salary)
        VALUES (#{tigerName}, #{tigerAge}, #{tigerSalary})
    </insert>

    <!-- 2. 根据ID删除老虎：#{tigerId}为参数占位符，防止SQL注入 -->
    <delete id="deleteTigerById" parameterType="java.lang.Integer">
        DELETE FROM t_tiger WHERE tiger_id = #{tigerId}
    </delete>

    <!-- 3. 根据ID更新老虎：动态取值实体类的属性 -->
    <update id="updateTigerById" parameterType="com.atguigu.mybatis.entities.Tiger">
        UPDATE t_tiger
        SET tiger_name = #{tigerName},
        tiger_age = #{tigerAge},
        tiger_salary = #{tigerSalary}
        WHERE tiger_id = #{tigerId}
    </update>

    <!-- 4. 根据ID查询老虎：resultType=返回值类型（实体类全类名） -->
    <select id="selectTigerById" parameterType="java.lang.Integer" resultType="com.atguigu.mybatis.entities.Tiger">
        SELECT tiger_id tigerId,
        tiger_name tigerName,
        tiger_age tigerAge,
        tiger_salary tigerSalary
        FROM t_tiger
        WHERE tiger_id = #{tigerId}
    </select>

    <!-- 5. 查询所有老虎：resultType指定每行数据映射的实体类 -->
    <select id="selectTigerList" resultType="com.atguigu.mybatis.entities.Tiger">
        SELECT tiger_id tigerId,
        tiger_name tigerName,
        tiger_age tigerAge,
        tiger_salary tigerSalary
        FROM t_tiger
    </select>

    <!-- 演示if、where -->
    <select id="selectTigerByCondition" resultType="com.atguigu.mybatis.entities.Tiger">
        select * from t_tiger
        <where>
            <if test="tigerName != null and tigerName != ''">
                and tiger_name like concat('%', #{tigerName}, '%')
            </if>
            <if test="tigerSalary != null">
                and tiger_salary > #{tigerSalary}
            </if>
        </where>
    </select>

    <!-- set标签 -->
    <update id="updateTigerDynamic">
        update t_tiger
        <set>
            <if test="tigerName != null">
                tiger_name = #{tigerName},
            </if>
            <if test="tigerSalary &lt; 800">
                tiger_salary=#{tigerSalary},
            </if>
        </set>
        where tiger_id=#{tigerId}
    </update>

    <!--trim标签-->
    <select id="selectTigerByConditionByTrim" resultType="com.atguigu.mybatis.entities.Tiger">
        select tiger_id,tiger_name,tiger_age,tiger_salary
        from t_tiger

        <!-- prefix属性指定要动态添加的前缀 -->
        <!-- suffix属性指定要动态添加的后缀 -->
        <!-- prefixOverrides属性知道你要动态去掉的前缀，使用"|"分割有可能的多个值 -->
        <!-- stuffixOverrides属性指定要动态去掉的后缀，使用"|"分隔有可能的多个值 -->
        <!-- 当前例子使用where标签实现更简洁，但是trim标签更灵活，可以用在任何有需要的地方 -->
        <trim prefix="where" suffixOverrides="and|or">
           <if test="tigerName != null">
               tiger_name=#{tigerName} and
           </if>
            <if test="tigerSalary &gt; 300">
                tiger_salary>#{tigerSalary} and
            </if>
            <if test="tigerAge &lt;= 5">
                tiger_age=#{tigerAge} or
            </if>
<!--            <if test="tigerName=='王虎'">-->
<!--               tiger_name=#{tigerName}-->
<!--            </if>-->
        </trim>
    </select>

    <!-- choose/when/otherwize标签 -->
    <select id="selectTigerByConditionByChoose" resultType="com.atguigu.mybatis.entities.Tiger">
       select tiger_id, tiger_name, tiger_salary from t_tiger
        where
        <choose>
            <when test="tigerName != null">tiger_name = #{tigerName}</when>
            <when test="tigerSalary &lt; 800">tiger_salary &lt; 800</when>
            <otherwise>1=1</otherwise>
        </choose>
    </select>

    <!-- foreach标签 -->
<!--    <update id="updateTigerBatch">-->
<!--        <foreach collection="tigerList" item="tiger" separator=";">-->
<!--            update t_tiger-->
<!--            set tiger_name = #{tiger.tigerName},-->
<!--            tiger_age = #{tiger.tigerAge}-->
<!--            where tiger_id = #{tiger.tigerId}-->
<!--        </foreach>-->
<!--    </update>-->

    <!-- sql标签 -->
    <sql id="baseColumns">
        select tiger_id,tiger_name,tiger_age,tiger_salary from t_tiger
    </sql>
    <!-- 使用include标签引用声明的SQL片段 -->
    <select id="selectTiger" resultType="com.atguigu.mybatis.entities.Tiger">
       <include refid="baseColumns" />
    </select>
</mapper>